html,
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $baseFont;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  color: $fontColor;
  background-color: $mainColor;
}

ul,
li,
dl,
dt,
dd,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
